@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
.buttons {
  background: #ffffff;
  border-radius: 40px;
  min-width: 622px;
  min-height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tittle__items {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #596172;
  margin-top: 42px;
  margin-right: 10px;
}
.buttons__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.buttons__tittle--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tittle__items--color {
  font-weight: 300;
  color: #949fb7;
  margin-right: 0;
}
.container {
  margin-left: 50px;
}
.buttons__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 215px;
}
.type__items:first-child {
  margin-top: 50px;
}
.type__items:not(:last-child) {
  margin-bottom: 15px;
}
.type {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #c1c8d7;
}
.button {
  padding: 12px 25px;
  background: #4690ff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid transparent;
}
.type__column {
  min-height: 70%;
}
.border {
  border-bottom: 1px solid #dddddd;
}
.button--hover:hover {
  background: #639ef8;
  cursor: pointer;
}
.button--disabled:disabled {
  background: #bfd8fc;
}
.button--pressed:active {
  background: #2a7bf5;
}
.button--secondary {
  background: #ffffff;
  color: #4690ff;
  border: 1px solid #4690ff;
}
.button--secondary--hover:hover {
  background: #f1f7ff;
  color: #639ef8;
  border-color: #639ef8;
}
.button--secondary:disabled {
  opacity: 0.3;
  border-color: #4690ff;
}
.button--secondary--pressed:active {
  background: #e4f0ff;
  border: 1px solid #2a7bf5;
}
.type__items:not(:last-child):after {
  content: "";
  display: block;
  max-width: 215px;
  margin-top: 15px;
  height: 1px;
  background-color: #dddddd;
}
